.movies-card-list {
  margin: 0 auto;
  padding: 70px 0 80px 0;
  background-color: #fafafa;
}

.movies-card-list__container {
  margin: 0 70px;
}

.movies-card-list__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.movies-card-list__cut {
  display: block;
  margin: 50px auto 0 auto;
  background-color: #f4f4f4;
  border: none;
  border-radius: 6px;
  min-height: 36px;
  min-width: 320px;
}

.movies-card-list__cut-text {
  font-size: 12px;
  margin: 0;
}