.movies-card {
  height: 218px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
}

.movies-card__still {
  height: 151px;
  width: 270px;
  object-fit: cover;
}

.movies-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px 10px 10px 10px;
}

.movies-card__title {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
}

.movies-card__save {
  background-color: #fff;
  background-image: url(../../images/save-button_on.svg);
  background-repeat: no-repeat;
	background-position: center;
  height: 16px;
  width: 16px;
  background-size: cover;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);
}

.movies-card__timeline {
  font-size: 11px;
  color: #a0a0a0;
  margin: 0 0 14px 12px;
}