.not-found__container {
  height: 100vh;
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
}

.not-found__heading {
  font-size: 140px;
  font-weight: 400;
  margin: 246px 0 5px 0;
}

.not-found__paragraph {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 184px 0;
}

.not-found__link {
  color: #3456f3;
  text-decoration: none;
}