.portfolio {
  margin: 0 auto;
  padding: 0 70px 125px 70px;
}

.portfolio__header {
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  color: #a0a0a0;
}

.portfolio__container {
  display: flex;
  flex-direction: column;
}

.portfolio__container-link {
  margin: 0 0 20px 0;
  padding-bottom: 19px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
}

.portfolio__container-link:last-child {
  border-bottom: none;
  padding: 0;
  margin: 0;
}

.portfolio__container-item-link {
  font-size: 30px;
  line-height: 50px;
  text-decoration: none;
  color: #000;
}