.about-project {
  margin: 0 auto;
  padding: 110px 70px 100px 70px;
}

.about-project__header {
  font-size: 22px;
  letter-spacing: -0.04em;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
  font-weight: 400;
}

.about-project__container {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.about-project__container-description {
  display: flex;
  margin: auto;
  gap: 40px;
}

.about-project__container-item {
  max-width: 550px;
}

.about-project__container-item-header {
  margin: 0;
  font-size: 20px;
  letter-spacing: -0.04em;
  font-weight: 400;
}

.about-project__container-item-paragraph {
  font-size: 14px;
  line-height: 20px;
  margin: 26px 0 0 0;
}

.about-project__info {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
	margin-top: 110px;
  grid-gap: 0;
  justify-items: stretch;
  align-items: center;
  text-align: center;
  justify-items: stretch;
  align-items: stretch;
}

.about-project__info-item_bg-color_green {
  background-color: #2be080;
}

.about-project__info-item_bg-color_gray {
  background-color: #f2f2f2;
}

.about-project__info-item_color_gray {
  color: #a0a0a0;
}

.about-project__info-item {
  min-height: 36px;
  font-size: 14px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}