.footer {
  margin: 0 70px;
}

.footer__text {
  font-size: 13px;
  padding-top: 79px;
  margin-bottom: 20px;
  text-align: center;
  color: #a0a0a0;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin: 20px 0;
  border-top: 1px solid #e8e8e8;
}

.footer__link {
  color: #000;
  text-decoration: none;
  margin-right: 20px;
}

.footer__link:last-child {
  margin-right: 0;
}