.footer {
  margin: 0 auto;
  padding: 79px 70px 20px 70px;
}

.footer_bg-color_gray {
  background-color: #fafafa;
}

.footer__text {
  font-size: 13px;
  margin: 0;
  text-align: center;
  color: #a0a0a0;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin: 20px 0 0 0;
  padding-top: 20px;
  border-top: 1px solid #e8e8e8;
}

.footer__copyright {
  margin: 0;
}

.footer__link {
  color: #000;
  text-decoration: none;
  margin-right: 20px;
}

.footer__link:last-child {
  margin-right: 0;
}