.footer {
  margin: 0 auto;
  padding: 79px 70px 20px 70px;
}

.footer_bg-color_gray {
  background-color: #fafafa;
}

.footer__text {
  font-size: 13px;
  margin: 0;
  text-align: center;
  color: #a0a0a0;
}

.footer__info {
  display: grid;
  grid-template-areas:
  "copyright links";
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin: 20px 0 0 0;
  padding-top: 20px;
  border-top: 1px solid #e8e8e8;
}

/* .footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin: 20px 0 0 0;
  padding-top: 20px;
  border-top: 1px solid #e8e8e8;
} */

.footer__copyright {
  grid-area: copyright;
  margin: 0;
}

.footer-links {
  grid-area: links;
}

.footer__link {
  color: #000;
  text-decoration: none;
  margin-right: 20px;
}

.footer__link:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 475px) {
  .footer {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .footer__info {
    grid-template-areas:
    "links"
    "copyright";
    justify-content: center;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__link {
    margin-right: 0;
    margin-bottom: 12px;
  }

  .footer__link:last-child {
    margin-bottom: 0;
  }

  .footer__copyright {
    color: #a0a0a0;
    text-align: center;
    margin-top: 30px;
  }
}