.about-me {
  margin: 0 auto;
  padding: 110px 70px 100px 70px;
  background-color: #fafafa;
}

.about-me__header {
  font-size: 22px;
  letter-spacing: -0.04em;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
  font-weight: 400;
}

.about-me__container-item {
  display: grid;
  justify-content: space-between;
  grid-template-areas: 
  "subcontainer photo";
}

.about-me__info {
  grid-area: subcontainer;
}

.about-me__photo {
  grid-area: photo;
  margin-left: 50px;
}

.about-me__container-item-header {
  font-size: 50px;
  letter-spacing: -0.04em;
  font-weight: 400;
  margin: 66px 0 0 0;
  max-width: 600px;
}

.about-me__subcontainer-item {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.about-me__container-item-paragraph {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-top: 26px;
  max-width: 600px;
}

.about-me__container-item-subheader {
  font-size: 18px;
  font-weight: 500;
  margin: 18px 0 0 0;
}

.about-me__container-item-photo {
  margin-top: 66px;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

.about-me__container-item-info {
  margin-top: 99px;
}

.about-me__container-item-info-item {
  display: inline;
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
  text-decoration: none;
  color: #000;
}

.about-me__container-item-info-item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__container-item-photo {
    width: 255px;
    height: 307px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 650px) {
  .about-me__container-item-header {
    margin-top: 40px;
    font-size: 30px;
  }
  
  .about-me__container-item-subheader{
    font-size: 11px;
    margin-top: 20px;
  }

  .about-me__container-item-paragraph {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__container-item-photo {
    margin-top: 40px;
    width: 230px;
    height: 278px;
  }
}

@media screen and (max-width: 530px) {
  .about-me {
    padding: 70px 50px;
  }

  .about-me__header {
    font-size: 18px;
    padding-bottom: 28px;
  }

  .about-me__container-item-photo {
    margin-top: 60px;
    width: 292px;
    height: 352px;
    border-radius: 10px;
  }

  .about-me__container-item {
    align-content: center;
    grid-template-areas: 
      "photo"  
      "subcontainer";
  }

  .about-me__photo {
    margin: auto;
  }

  .about-me__container-item-header {
    margin-top: 40px;
    font-size: 30px;
  }
  
  .about-me__container-item-subheader{
    font-size: 11px;
    margin-top: 20px;
  }

  .about-me__container-item-paragraph {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__container-item-info {
    font-size: 14px;
    margin-top: 40px;
  }
}

  @media screen and (max-width: 475px) {
    .about-me {
      padding: 70px 14px;
    }
}