.navtab {
  position: relative;
  display: flex;
  justify-content: center;
}

.navtab__container {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.navtab__link {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #000;
  margin-right: 10px;
  text-decoration: none;
  padding: 10px 17px;
  background-color: #e8e8e8;
  border-radius: 10px;
}

.nav-link:last-child {
  margin-right: 0;
}