.navtab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 66px;
  margin: 0 auto;
  background-color: #000;
}

.navtab__link {
  color: #fff;
  font-size: 13px;
  margin-right: 40px;
}

.nav-link:last-child {
  margin-right: 0;
}